.navbar {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbarMain {
  flex: 1;
}

.linkIcon {
  color: var(--mantine-color-dark-6);
  width: rem(20px);
  height: rem(20px);
}
.user {
  display: flex;
  width: 100%;
  padding: var(--mantine-spacing-md);
  color: light-dark(var(--mantine-color-black), var(--mantine-color-dark-0));
  transition: background-color 0.1s ease, color 0.1s ease;
  @mixin hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-8));
  }
}
